<!-- Main -->
<div class="container-fluid p-4">
    <!-- Navegación -->
    <div class="row main-nav">
        <div class="col-12 col-sm-auto mb-3 text-center text-sm-start text-uppercase text-secondary text-opacity-50">
            <nav>
                <ol class="breadcrumb d-inline-flex mb-0">
                    <li class="breadcrumb-item" *ngFor="let navItem of moduloNav">
                        <a [attr.href]="navItem.url != '' ? navItem.url : null">{{ navItem.small }}</a>
                    </li>
                </ol>
            </nav>
        </div>
        <div class="col-12 col-sm mb-3 text-center text-sm-end text-uppercase text-secondary text-opacity-50">
            <span *ngFor="let infoItem of moduloInfo; let infoIndex = index">{{ infoItem+(infoIndex != moduloInfo.length-1 ? ' / ' : '') }}</span>
        </div>
    </div>
    <!-- Navegación -->
    <!-- Contenido -->
    <div class="row">
        <!-- Titulo -->
        <div class="col-12">
            <h1 class="main-title">
                <span class="align-middle">{{ moduloNav[moduloNav.length-1].large }}</span>
                <button mat-icon-button color="primary" class="align-middle" matTooltip="Marcar favorito" matTooltipPosition="above" matTooltipClass="bg-primary">
                    <mat-icon>star</mat-icon>
                </button>
            </h1>
        </div>
        <!-- Titulo -->
        <!-- Elementos -->
        <div class="col-12 mt-2 main-content">
            <div class="row">
                <div class="col-12">
                    <p>Este es el texto de contenido de ejemplo.</p>
                </div>
            </div>
        </div>
        <!-- Elementos -->
    </div>
    <!-- Contenido -->
</div>
<!-- Main -->