<!-- Main -->
<div class="container-fluid p-4">
    <!-- Navegación -->
    <div class="row main-nav">
        <div class="col-12 col-sm-auto mb-3 text-center text-sm-start text-uppercase text-secondary text-opacity-50">
            <nav>
                <ol class="breadcrumb d-inline-flex mb-0">
                    <li class="breadcrumb-item" *ngFor="let navItem of moduloNav">
                        <a [attr.href]="navItem.url != '' ? navItem.url : null">{{ navItem.small }}</a>
                    </li>
                </ol>
            </nav>
        </div>
        <div class="col-12 col-sm mb-3 text-center text-sm-end text-uppercase text-secondary text-opacity-50">
            <span *ngFor="let infoItem of moduloInfo; let infoIndex = index">{{ infoItem+(infoIndex != moduloInfo.length-1 ? ' / ' : '') }}</span>
        </div>
    </div>
    <!-- Navegación -->
    <!-- Contenido -->
    <div class="row">
        <!-- Titulo -->
        <div class="col-12">
            <h1 class="main-title">
                <span class="align-middle">{{ moduloNav[moduloNav.length-1].large }}</span>
            </h1>
        </div>
        <!-- Titulo -->
        <!-- Elementos -->
        <div class="col-12 mt-2 main-content">
            <div class="row">
                <!-- Superior -->
                <div class="col-12 align-items-center justify-content-center text-center">
                    <!-- Input -->
                    <mat-form-field appearance="fill" class="me-3">
                        <mat-label>Temporada</mat-label>
                        <mat-select>
                            <mat-option value="opcion-1">Opción 1</mat-option>
                            <mat-option value="opcion-2">Opción 2</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- Input -->
                    <!-- Input -->
                    <mat-form-field appearance="fill" class="me-3">
                        <mat-label>Máquina</mat-label>
                        <mat-select>
                            <mat-option value="opcion-1">Opción 1</mat-option>
                            <mat-option value="opcion-2">Opción 2</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- Input -->
                    <!-- Input -->
                    <mat-form-field appearance="fill" class="me-3">
                        <mat-label>OT</mat-label>
                        <mat-select>
                            <mat-option value="opcion-1">Opción 1</mat-option>
                            <mat-option value="opcion-2">Opción 2</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- Input -->
                    <!-- Input -->
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha</mat-label>
                        <input matInput [matDatepicker]="moduloFiltroPicker">
                        <mat-datepicker-toggle matSuffix [for]="moduloFiltroPicker" class="me-2">
                        </mat-datepicker-toggle>
                        <mat-datepicker #moduloFiltroPicker></mat-datepicker>
                    </mat-form-field>
                    <!-- Input -->
                </div>
            </div>
            <!-- Superior -->
            <!-- Inferior -->
            <div class="row">
                <div class="col-12 mt-3 table-responsive">
                    <!-- Tabla -->
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z0 w-100 border">
                        <!-- Column -->
                        <ng-container matColumnDef="item1">
                            <th mat-header-cell *matHeaderCellDef class="text-center">Pallet</th>
                            <td mat-cell *matCellDef="let element" class="text-center">{{element.item1}}</td>
                        </ng-container>
                        <!-- Column -->
                        <ng-container matColumnDef="item2">
                            <th mat-header-cell *matHeaderCellDef class="text-center">CAT</th>
                            <td mat-cell *matCellDef="let element" class="text-center">{{element.item2}}</td>
                        </ng-container>
                        <!-- Column -->
                        <ng-container matColumnDef="item3">
                            <th mat-header-cell *matHeaderCellDef class="text-center">CAL</th>
                            <td mat-cell *matCellDef="let element" class="text-center">{{element.item3}}</td>
                        </ng-container>
                        <!-- Column -->
                        <ng-container matColumnDef="item4">
                            <th mat-header-cell *matHeaderCellDef class="text-center">Productor</th>
                            <td mat-cell *matCellDef="let element" class="text-center">{{element.item4}}</td>
                        </ng-container>
                        <!-- Column -->
                        <ng-container matColumnDef="item5">
                            <th mat-header-cell *matHeaderCellDef class="text-center">Cajas</th>
                            <td mat-cell *matCellDef="let element" class="text-center">{{element.item5}}</td>
                        </ng-container>
                        <!-- Column -->
                        <ng-container matColumnDef="itemAcciones">
                            <th mat-header-cell *matHeaderCellDef class="text-center">Acciones</th>
                            <td mat-cell *matCellDef="let element" class="text-center">
                                <a class="px-2 d-inline-block" [matMenuTriggerFor]="moduloTablaAcciones">
                                    <mat-icon>more_vert</mat-icon>
                                </a>
                                <mat-menu #moduloTablaAcciones="matMenu" xPosition="before">
                                    <button mat-menu-item (click)="routerLink('ajustes-cuadratura/ot', false)">Reasignar cajas</button>
                                </mat-menu>
                            </td>
                        </ng-container>
                        <!-- Row -->
                        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="text-primary"></tr>
                        <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" [ngClass]="{'bg-secondary-lt': even}"></tr>
                    </table>
                    <!-- Tabla -->
                </div>
            </div>
            <!-- Inferior -->
            <!-- Acciones -->
            <div class="row">
                <div class="col mt-4 text-start">
                    <button mat-fab color="primary-lt" class="mat-elevation-z0" (click)="routerLink('/', false)">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                </div>
                <div class="col mt-4 text-end">
                    <mat-paginator [length]="100"
                                [pageSize]="10"
                                [pageSizeOptions]="[5, 10, 25, 100]"
                                class="d-inline-block">
                    </mat-paginator>
                </div>
            </div>
            <!-- Acciones -->
        </div>
        <!-- Elementos -->
    </div>
    <!-- Contenido -->
</div>
<!-- Main -->