::ng-deep .main-navbar .navbar-collapse .mat-form-field-underline {
    display: none;
}
::ng-deep .main-navbar .navbar-collapse .mat-form-field-wrapper {
    padding-bottom: 0px;
}
::ng-deep .main-navbar .navbar-collapse .mat-form-field-infix {
    padding-bottom: 5px;
}
::ng-deep .main-navbar .navbar-collapse .mat-form-field-flex {
    padding-top: 6px !important;
    padding-right: 6px !important;
}
.main-navbar {
    position: relative;
    z-index: 10;
}
.main-navbar .navbar-collapse .mat-icon {
    cursor: pointer;
}
.main-navbar .navbar-brand img {
    max-height: 26px;
}
.main-navbar *[data-bs-toggle="collapse"] {
    color: white;
    display: none;
}
.main-navbar *[data-bs-toggle="collapse"] .mat-icon {
    font-size: 31px;
    width: 31px;
    height: auto;
}
.main-navbar .navbar-user .rounded-circle {
    width: 42px;
    height: 42px;
    position: relative;
    display: inline-flex;
    overflow: hidden;
}
.main-navbar .navbar-user .rounded-circle::before {
    content: attr(alt);
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 14px;
    color: var(--main-color-black-lt);
    background-color: var(--main-color-gray-lt);
}
.main-navbar .navbar-user img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    object-fit: cover;
    object-position: center;
}
.main-navbar .navbar-user img[src=''],
.main-navbar .navbar-user img[src='/'] {
    display: none;
}
.main-navbar .navbar-user .mat-icon {
    font-size: 31px;
    width: 31px;
    height: auto;
}
.main-navbar .navbar-options .mat-icon {
    font-size: 27px;
    width: 27px;
    height: auto;
}
@media (max-width: 991.98px) {
	.main-navbar *[data-bs-toggle="collapse"] {
        display: block;
    }
}