<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary main-navbar p-3">
  <div class="container-fluid px-0 justify-content-end">
    <!-- Logo -->
    <a class="navbar-brand py-2 m-0 me-auto order-1" href="/">
      <img class="img-fluid" src="/assets/img/logo-unifrutti-blanco.png">
    </a>
    <!-- Logo -->
  </div>
</nav>
<!-- Navbar -->