<app-login *ngIf="!mainLogged"></app-login>
<app-navbar *ngIf="mainLogged"></app-navbar>
<div class="d-flex" *ngIf="mainLogged">
  <main class="d-flex flex-column"><app-sidebar></app-sidebar></main>
  <main class="d-flex flex-column flex-grow-1">
    <router-outlet></router-outlet>
    <footer class="footer mt-auto py-3 bg-white border-top">
      <div class="container text-center">
        <span class="text-muted">{{ mainTitle }} <a href="http://pall.cl" target="_blank" class="ms-1"><img src="/assets/img/logo-pall-agro.png"></a></span>
      </div>
    </footer>
  </main>
</div>