::ng-deep :root {
    --main-sidebar-width: 74px;
}
::ng-deep main.d-flex.flex-column.flex-grow-1 {
    width: calc(100% - var(--main-sidebar-width));
}
::ng-deep .cdk-overlay-connected-position-bounding-box {
    padding-left: var(--main-sidebar-width);
}
.sidebar {
    width: var(--main-sidebar-width);
    min-height: calc(100vh - var(--main-sidebar-width));
    position: relative;
}
.sidebar::before {
    content: "";
    display: block;
    width: var(--main-sidebar-width);
    height: 100%;
    background-color: var(--main-color-corporate);
    position: fixed;
    top: 0px;
}
.sidebar > * {
    position: relative;
}
.sidebar .item {
    display: block;
}
.sidebar .item:nth-of-type(1) {
    margin-top: 0px !important;
}