<!-- Sidebar -->
<div class="sidebar d-flex align-items-center justify-content-center flex-column">
    <!-- Button -->
    <a class="item px-3 my-3" data-bs-toggle="tooltip" data-bs-placement="right" title="Label Control" [matMenuTriggerFor]="moduloSidebarMenu1">
        <img class="img-fluid" src="/assets/img/sidebar-cajas.png">
    </a>
    <mat-menu #moduloSidebarMenu1="matMenu" xPosition="after" class="main-sidebar-menu mat-menu-fit-content">
        <button mat-menu-item (click)="routerLink('ajustes-cuadratura', false)">Ajustes cuadratura</button>
        <button mat-menu-item (click)="routerLink('dashboard', false)">Dashboard</button>
    </mat-menu>
    <!-- Button -->
</div>
<!-- Sidebar -->