:host {
    background-color: var(--main-color-corporate);
}
:host .overlay {
    background-color: var(--main-color-corporate);
}
:host .overlay:before {
    background-image: url("/assets/img/login-bg.jpg");
    background-size: cover;
    background-position: center center;
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 0.2;
}
:host .card {
    background-color: transparent;
    border-radius: 0px 100px 0px 100px;
    border: 40px solid rgba(255,255,255,0.2);
}
@media (max-width: 767.98px) {
	:host .card {
        border-radius: 0px 80px 0px 100px;
        border: 25px solid rgba(255,255,255,0.2);
    }
}
:host .login-top {
    background-color: white;
}
:host .login-top form {
    max-width: 250px;
    margin: 0 auto;
}
:host .login-top .btn-primary {
    background-color: var(--main-color-corporate);
    border-color: var(--main-color-corporate);
}
:host .login-bottom {
    color: white;
}