<!-- Main -->
<div class="w-100 h-100 position-absolute">
    <div class="overlay w-100 h-100 position-fixed"></div>
    <div class="container h-100 position-relative">
        <div class="row justify-content-center align-items-center h-100">
            <!-- Login -->
            <div class="col-12 col-md-9 col-lg-7 mt-5">
                <div class="card overflow-hidden">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-12 login-top p-5">
                                <div class="text-center mb-0 mb-sm-4 mt-0 mt-sm-4">
                                    <img class="login-logo-3" src="/assets/img/logo-unifrutti.png" width="100">
                                </div>
                                <div class="text-center mb-4 mt-4">
                                    Líderes mundiales en exportación de fruta fresca de
                                    <img class="login-logo-2 mx-1 align-bottom" src="/assets/img/login-chile.png" width="60">
                                </div>
                                <form class="text-center mb-4">
                                    <!-- Campo -->
                                    <div class="col-12">
                                        <mat-form-field appearance="legacy" class="w-100">
                                        <mat-label>Nombre</mat-label>
                                        <input matInput placeholder="Escriba aquí">
                                        </mat-form-field>
                                    </div>
                                    <!-- Campo -->
                                    <!-- Campo -->
                                    <div class="col-12">
                                        <mat-form-field appearance="legacy" class="w-100">
                                        <mat-label>Contraseña *</mat-label>
                                        <input matInput [type]="loginPassHide ? 'password' : 'text'">
                                        <mat-icon role="button" matSuffix (click)="loginPassHide = !loginPassHide">{{ loginPassHide ? 'visibility_off' : 'visibility' }}</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <!-- Campo -->
                                    <button mat-flat-button color="primary" class="mt-4 px-4">
                                        Ingresar
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 login-bottom mt-4 mb-5 text-center">
                    <img class="login-logo-1" src="/assets/img/logo-pall-agro-blanco.png" width="100">
                </div>
            </div>
            <!-- Login -->
        </div>
    </div>
</div>
<!-- Main -->