<!-- Main -->
<div class="container-fluid p-4">
    <!-- Navegación -->
    <div class="row main-nav">
        <div class="col-12 col-sm-auto mb-3 text-center text-sm-start text-uppercase text-secondary text-opacity-50">
            <nav>
                <ol class="breadcrumb d-inline-flex mb-0">
                    <li class="breadcrumb-item" *ngFor="let navItem of moduloNav">
                        <a [attr.href]="navItem.url != '' ? navItem.url : null">{{ navItem.small }}</a>
                    </li>
                </ol>
            </nav>
        </div>
        <div class="col-12 col-sm mb-3 text-center text-sm-end text-uppercase text-secondary text-opacity-50">
            <span *ngFor="let infoItem of moduloInfo; let infoIndex = index">{{ infoItem+(infoIndex != moduloInfo.length-1 ? ' / ' : '') }}</span>
        </div>
    </div>
    <!-- Navegación -->
    <!-- Contenido -->
    <div class="row">
        <!-- Titulo -->
        <div class="col-12">
            <h1 class="main-title">
                <span class="align-middle">{{ moduloNav[moduloNav.length-1].large }}</span>
            </h1>
        </div>
        <!-- Titulo -->
        <!-- Elementos -->
        <div class="col-12 mt-2 main-content">
            <!-- Superior -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body p-4">
                            <!-- Textos -->
                            Este es el texto de contenido de ejemplo.
                            <!-- Textos -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Superior -->
            <!-- Acciones -->
            <div class="row">
                <div class="col mt-4 text-start">
                    <button mat-fab color="primary-lt" class="mat-elevation-z0" (click)="routerLink('/', false)">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                </div>
                <div class="col mt-4 text-end">
                    <button mat-flat-button color="primary" class="main-btn-icon ms-2 mb-2 rounded-pill py-2 px-4">
                        <mat-icon>person</mat-icon>
                        <span class="ms-2 align-sub">Dashboard 1</span>
                    </button>
                    <button mat-flat-button color="primary" class="main-btn-icon ms-2 mb-2 rounded-pill py-2 px-4">
                        <mat-icon>airport_shuttle</mat-icon>
                        <span class="ms-2 align-sub">Dashboard 2</span>
                    </button>
                    <button mat-flat-button color="primary" class="main-btn-icon ms-2 mb-2 rounded-pill py-2 px-4">
                        <mat-icon>business_center</mat-icon>
                        <span class="ms-2 align-sub">Dashboard 3</span>
                    </button>
                    <button mat-flat-button color="primary" class="main-btn-icon ms-2 mb-2 rounded-pill py-2 px-4">
                        <mat-icon>access_time</mat-icon>
                        <span class="ms-2 align-sub">Dashboard 4</span>
                    </button>
                </div>
            </div>
            <!-- Acciones -->
        </div>
        <!-- Elementos -->
    </div>
    <!-- Contenido -->
</div>
<!-- Main -->