.main-drag {
    width: 50%;
    max-width: 100%;
}
.main-drag-list {
    border: solid 1px var(--main-color-border);
    min-height: 60px;
    max-height: 478px;
    overflow-y: auto !important;
}
.main-drag-box {
    border-bottom: solid 1px var(--main-color-border);
    cursor: move;
}
.main-drag-box:last-child {
    border: none;
}
.main-drag-box:hover {
    background-color: var(--main-color-primary-bg) !important;
}
.main-drag-list.cdk-drop-list-dragging .main-drag-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag-preview {
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
    opacity: 0;
}
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}