<!-- Main -->
<div class="container-fluid p-4">
    <!-- Navegación -->
    <div class="row main-nav">
        <div class="col-12 col-sm-auto mb-3 text-center text-sm-start text-uppercase text-secondary text-opacity-50">
            <nav>
                <ol class="breadcrumb d-inline-flex mb-0">
                    <li class="breadcrumb-item" *ngFor="let navItem of moduloNav">
                        <a [attr.href]="navItem.url != '' ? navItem.url : null">{{ navItem.small }}</a>
                    </li>
                </ol>
            </nav>
        </div>
        <div class="col-12 col-sm mb-3 text-center text-sm-end text-uppercase text-secondary text-opacity-50">
            <span *ngFor="let infoItem of moduloInfo; let infoIndex = index">{{ infoItem+(infoIndex != moduloInfo.length-1 ? ' / ' : '') }}</span>
        </div>
    </div>
    <!-- Navegación -->
    <!-- Contenido -->
    <div class="row">
        <!-- Titulo -->
        <div class="col-12">
            <h1 class="main-title">
                <span class="align-middle">{{ moduloNav[moduloNav.length-1].large }}</span>
            </h1>
        </div>
        <!-- Titulo -->
        <!-- Elementos -->
        <div class="col-12 mt-2 main-content">
            <!-- Superior -->
            <div class="row">
                <div class="col-12 mb-2">
                    <div class="card">
                        <div class="card-body p-4 pb-2">
                            <form class="row">
                                <div class="col-12 col-lg-6">
                                    <div class="row">
                                        <!-- Input -->
                                        <div class="col-12 mt-2">
                                            <mat-form-field appearance="legacy" class="w-100">
                                                <mat-label>OT Origen</mat-label>
                                                <input matInput disabled placeholder="Escriba aquí" value="203453">
                                            </mat-form-field>
                                        </div>
                                        <!-- Input -->
                                        <!-- Input -->
                                        <div class="col-12 mt-2">
                                            <mat-form-field appearance="standard" class="w-100">
                                                <mat-label>Fecha</mat-label>
                                                <input matInput [matDatepicker]="moduloCuadraturaOtPicker" disabled [(ngModel)]="moduloSelectedDate" name="Fecha">
                                                <mat-datepicker-toggle matSuffix [for]="moduloCuadraturaOtPicker" class="me-2" disabled></mat-datepicker-toggle>
                                                <mat-datepicker #moduloCuadraturaOtPicker></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <!-- Input -->
                                        <!-- Input -->
                                        <div class="col-12 mt-2">
                                            <mat-form-field appearance="legacy" class="w-100">
                                                <mat-label>Folio</mat-label>
                                                <input matInput disabled placeholder="Escriba aquí" value="1001">
                                            </mat-form-field>
                                        </div>
                                        <!-- Input -->
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6 mt-2 mt-lg-0">
                                    <div class="row">
                                        <!-- Input -->
                                        <div class="col-12 mt-2">
                                            <mat-form-field appearance="legacy" class="w-100">
                                                <mat-label>OT Destino</mat-label>
                                                <mat-select>
                                                    <mat-option value="opcion-1">Opción 1</mat-option>
                                                    <mat-option value="opcion-2">Opción 2</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <!-- Input -->
                                        <!-- Input -->
                                        <div class="col-12 mt-2">
                                            <mat-form-field appearance="legacy" class="w-100">
                                                <mat-label>Productor</mat-label>
                                                <input matInput disabled placeholder="Escriba aquí" value="Productor Ejemplo">
                                            </mat-form-field>
                                        </div>
                                        <!-- Input -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Superior -->
            <!-- Inferior -->
            <div class="row">
                <div class="col-12 text-center">
                    <!-- Comparativa -->
                    <div cdkDropListGroup>
                        <!-- Izquierda -->
                        <div class="main-drag mt-3 pe-3 align-top d-inline-block">
                            <h2 class="text-secondary"><mat-icon class="align-sub me-2">inventory_2</mat-icon>Origen</h2>
                            <div class="main-drag-list d-block bg-white rounded-3 overflow-hidden"
                                cdkDropList
                                [cdkDropListData]="moduloDraCaja1"
                                (cdkDropListDropped)="drop($event)">
                                <div class="main-drag-box d-flex flex-row align-items-center justify-content-between bg-white px-4 py-3 " 
                                    *ngFor="let item of moduloDraCaja1" cdkDrag>{{item}}</div>
                            </div>
                        </div>
                        <!-- Izquierda -->
                        <!-- Derecha -->
                        <div class="main-drag mt-3 ps-3 align-top d-inline-block">
                            <h2 class="text-secondary"><mat-icon class="align-sub me-2">inventory_2</mat-icon>Destino</h2>
                            <div class="main-drag-list d-block bg-white rounded-3 overflow-hidden"
                                cdkDropList
                                [cdkDropListData]="moduloDraCaja2"
                                (cdkDropListDropped)="drop($event)">
                                <div class="main-drag-box d-flex flex-row align-items-center justify-content-between bg-white px-4 py-3 " 
                                    *ngFor="let item of moduloDraCaja2" cdkDrag>{{item}}</div>
                            </div>
                        </div>
                        <!-- Derecha -->
                      </div>
                      
                    <!-- Comparativa -->
                </div>
            </div>
            <!-- Inferior -->
            <!-- Acciones -->
            <div class="row">
                <div class="col mt-4 text-start">
                    <button mat-fab color="primary-lt" class="mat-elevation-z0" (click)="routerLink('ajustes-cuadratura', false)">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                </div>
                <div class="col mt-4 text-end">
                    <button mat-flat-button color="primary" class="main-btn-icon ms-2 mb-2 rounded-pill py-2 px-4">
                        <mat-icon>done</mat-icon>
                        <span class="ms-2 align-sub">Confirmar</span>
                    </button>
                </div>
            </div>
            <!-- Acciones -->
        </div>
        <!-- Elementos -->
    </div>
    <!-- Contenido -->
</div>
<!-- Main -->