/* Media queries */
/*
'$screen-xs-up'		=> '575.98px',
'$screen-sm-up'		=> '767.98px',
'$screen-md-up'		=> '991.98px',
'$screen-lg-up'		=> '1199.98px', 
'$screen-xl-up'		=> '1359.98px', 
'$screen-xs-down'	=> '576px',
'$screen-sm-down'	=> '768px',
'$screen-md-down'	=> '992px',
'$screen-lg-down'	=> '1200px',
'$screen-xl-down'	=> '1366px',

@media (max-width: $screen-size-up) {
	... less than ...
}
@media (min-width: $screen-size-down) {
	... more than ...
}
*/
/* Global */
:root {
    --main-color-corporate: #00237d;
    --main-color-corporate-alt: #ff232a;
    --main-color-success: #1448c9;
    --main-color-warning: #c98f00;
    --main-color-error: #d52d12;
    --main-color-black: #4f4f4f;
    --main-color-gray: #c4c4c4;
    --main-color-black-lt: #757575;
    --main-color-gray-lt: #e7e7e7;
    --main-color-primary: #4e73df;
    --main-color-primary-bg: #dfe4f1;
    --main-color-border: #dee2e6;
}
html, body {
    height: 100%;
}
body {
    background-color: white;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
img {
	image-rendering: -webkit-optimize-contrast; /* Chrome */
}
a {
    color: var(--main-color-corporate);
    text-decoration: none;
    cursor: pointer;
}
.lh-md {
    line-height: 1.7 !important;
}
.align-sub {
    vertical-align: sub !important;
}
.bg-primary {
    background-color: var(--main-color-corporate) !important;
}
.bg-secondary-lt {
    background-color: #f5f5f5;
}
.tooltip-arrow::before {
    border-right-color: var(--main-color-corporate-alt) !important;
}
.tooltip-inner {
    background-color: var(--main-color-corporate-alt) !important;
}
.tooltip.show {
    opacity: 1;
}
.mat-disabled {
    background-color: rgba(0,0,0,.12);
    color: rgba(0,0,0,.26);
}
.mat-primary-lt,
.bg-primary-lt {
    background-color: var(--main-color-primary-bg);
    color: var(--main-color-primary);
}
.mat-form-field-appearance-standard .mat-form-field-flex {
    padding-top: 0px !important;
}
.mat-datepicker-toggle {
    margin-right: -7px !important;
}
.mat-form-field-appearance-standard .mat-form-field-wrapper {
    padding-bottom: 1.25em;
}
.mat-form-field-appearance-legacy.mat-form-field-disabled .mat-form-field-underline,
.mat-form-field-appearance-standard.mat-form-field-disabled .mat-form-field-underline {
    background-size: 8px 100%;
}
.mat-tab-header {
    border: none;
}
.mat-tab-header .mat-tab-label {
    border: 1px solid var(--main-color-gray);
    border-bottom: 4px solid var(--main-color-gray);
    border-right: none;
}
.mat-tab-header .mat-tab-label:nth-last-of-type(1) {
    border-right: 1px solid var(--main-color-gray);
}
.mat-tab-header .mat-tab-label-active {
    border-bottom-color: var(--main-color-corporate);
    color: var(--main-color-corporate);
}
.mat-tab-header .mat-ink-bar {
    display: none !important;
}
.mat-tab-body {
    animation: fade-out 0.5s;
    opacity: 0;
}
.mat-tab-body.mat-tab-body-active {
    animation: fade-in 0.5s;
    opacity: 1;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
.mat-table {
    border-collapse: initial;
}
.mat-table-sm .mat-header-cell,
.mat-table-sm .mat-cell {
    padding: 8px !important;
}
.mat-header-cell,
.mat-cell {
    padding: 16px !important;
}
.mat-header-cell {
    font-size: 14px;
    color: #858796;
    border-bottom: none !important;
    border-right: 2px solid white;
}
.mat-cell {
    border-bottom: none !important;
    border-right: 2px solid white;
}
.mat-cell:nth-last-of-type(1) {
    border-right: none;
}
.mat-paginator-range-label,
.mat-paginator-page-size-label {
    display: none;
}
.mat-menu-fit-content {
    max-width: fit-content !important;
}
/* Global */
/* Main */
.main-nav {
    font-weight: 500;
}
.main-nav .breadcrumb-item a,
.main-nav .breadcrumb-item a:visited,
.main-nav .breadcrumb-item a:hover,
.main-nav .breadcrumb-item a:active,
.main-nav .breadcrumb-item.active {
    color: inherit;
}
.main-nav .breadcrumb-item a[href]:hover {
    color: var(--main-color-corporate);
}
.main-nav .breadcrumb-item a:not(a[href]) {
    cursor: default;
}
.main-nav .breadcrumb-item + .breadcrumb-item::before {
    color: var(--main-color-corporate);
}
.main-title {
    font: 700 32px/40px "Segoe UI", Roboto, "Helvetica Neue", sans-serif !important;
}
.main-btn-icon img {
    width: 32px;
}
/* Main */
/* Footer */
.footer img {
    max-height: 23px;
    vertical-align: bottom;
}
/* Footer */