<!-- Main -->
<div class="container-fluid p-4">
    <!-- Navegación -->
    <div class="row main-nav">
        <div class="col-12 col-sm-auto mb-3 text-center text-sm-start text-uppercase text-secondary text-opacity-50">
            <nav>
                <ol class="breadcrumb d-inline-flex mb-0">
                    <li class="breadcrumb-item" *ngFor="let navItem of moduloNav">
                        <a [attr.href]="navItem.url != '' ? navItem.url : null">{{ navItem.small }}</a>
                    </li>
                </ol>
            </nav>
        </div>
        <div class="col-12 col-sm mb-3 text-center text-sm-end text-uppercase text-secondary text-opacity-50">
            <span *ngFor="let infoItem of moduloInfo; let infoIndex = index">{{ infoItem+(infoIndex != moduloInfo.length-1 ? ' / ' : '') }}</span>
        </div>
    </div>
    <!-- Navegación -->
    <!-- Contenido -->
    <div class="row">
        <!-- Elementos -->
        <div class="col-12 mt-2 main-content">
            <!-- Banner -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="row main-banner align-items-center justify-content-center">
                                <div class="main-left col-12 col-md-auto fs-1 lh-sm pe-md-4 pe-lg-5 text-center text-md-start border-end">
                                    Sistema de<br>
                                    Producción <span class="fw-bold">Unifrutti</span>
                                </div>
                                <div class="main-right col-12 col-md col-xxl-auto text-center mt-4 mt-md-0 ps-md-4">
                                    <img src="/assets/img/home-banner.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner -->
            <!-- Favoritos -->
            <div class="row">
                <div class="col-12 mt-4 text-center">
                    <button mat-flat-button color="primary" class="main-btn-icon me-2 mb-2 rounded-pill py-2 px-4" (click)="routerLink('ajustes-cuadratura', false)">
                        <img class="opacity-50" src="/assets/img/sidebar-cajas.png">
                        <span class="ms-2 align-sub">Ajustes cuadratura</span>
                    </button>
                    <button mat-flat-button color="primary" class="main-btn-icon me-2 mb-2 rounded-pill py-2 px-4" (click)="routerLink('dashboard', false)">
                        <img class="opacity-50" src="/assets/img/sidebar-cajas.png">
                        <span class="ms-2 align-sub">Dashboard</span>
                    </button>
                </div>
            </div>
            <!-- Favoritos -->
        </div>
        <!-- Elementos -->
    </div>
    <!-- Contenido -->
</div>
<!-- Main -->